<div id="lookbook-product">
  <div class="grid__item">
    <header class="section-headerx">
      <h2 class="section-header__title text-center">Lookbook</h2>
    </header>
    <div class="covet-pics-gallery" data-id="49599"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
