<!-- /templates/page.liquid -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid-uniform grid__item large--four-fifths push--large--one-tenth">

        <div class="col-lg-10 lineheight">
          <div id="accordion">
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  How can I shop or place order?</h5>
            </div>
            <div class="panel-body">
              <div>Please visit our "How to Order" section.</div>
            </div>

            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Do I need an account to order?</h5>
            </div>
            <div class="panel-body">
              <div>You can order as "guest" but we recommend you to register an account so you can make a faster checkout and payment and you don't have to retype your address every time you want to purchase our products.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  I've forgotten my password. What should I do?</h5>
            </div>
            <div class="panel-body">
              <div>Click "Forgot Your Password?" link at the Log In Page and follow the instructions.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  I would like to order Sold Out items. Is it possible?</h5>
            </div>
            <div class="panel-body">
              <div>So sorry for Sold Out items we can't produce it anymore. But if you want to try to request it, you can email us at sales@kamiidea.com and tell us what you want to have. We might be considering it, or perhaps the items are available in our stockists.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Do you have smaller or larger size?</h5>
            </div>
            <div class="panel-body">
              <div>Depending on the products. But we have an information in each product page (in Measurement Guide) for the size suggestion. In each page you can see in "Choose size" our size suggestion. For example "All size (S-XL)" suggests that the product will fit size from Small to XL. Meanwhile "All size (M-L)" will fit size Medium to Large.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Does KAMI IDEA ship to multiple addresses?</h5>
            </div>
            <div class="panel-body">
              <div>Yes, we can ship to another address. You can choose any addresses when you want to check out. But if you want to ship to 2 or 3 addresses, you have to make 2 or 3 separate orders.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  How soon can I get my order?</h5>
            </div>
            <div class="panel-body">
              <div>After you order, transfer, and confirm your payment, we will process the order the NEXT DAY / in 24 hours. Note that process is only checking the payment, preparing and delivering the goods to the shipping company. After that, the shipping company needs certain amount of time to deliver it to you, varies from 1-2 days for domestic and 3-8 days for international deliveries. In short, from confirmation time the order will arrive earliest in 3 days.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Can I get my order earlier?</h5>
            </div>
            <div class="panel-body">
              <div>If you want to get it earlier (earliest within 2 days after you confirm the payment), please choose Express Shipping upon the check out.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Can I change my shipping address after my order has been dispatched/sent?</h5>
            </div>
            <div class="panel-body">
              <div>Unfortunately you can't. We only ship the order to the address written.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Can I add items after I check out?</h5>
            </div>
            <div class="panel-body">
              <div>Unfortunately you can't, because after checking out your order is recorded. If you want to add items, kindly make a new order and notify us via email sales@kamiiea.com to combine your shipping.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Can I track my order?</h5>
            </div>
            <div class="panel-body">
              <div>Yes you can, kindly click "Track Order" and click the link in the Order Number. If you still want to know the current status, kindly email cs@kamiidea.com so we can check it to the shipping company.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  How do I return or exchange an item?</h5>
            </div>
            <div class="panel-body">
              <div>Please read our "Return &amp; Exchange" PAGE.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Is my personal information kept private?</h5>
            </div>
            <div class="panel-body">
              <div >KAMI IDEA will guarantee to keep all information you given to us private. We will not disclose it to another party.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Can I pay by credit card?</h5>
            </div>
            <div class="panel-body">
              <div>Yes you can, but it will be via IONPay.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Do you have any store?</h5>
            </div>
            <div class="panel-body">
              <div>Yes, we have. You can see our collection right away at our workshop: Kami Idea Workshop Jl. H. Nurdin No. 100 Karang Tengah - Jakarta Indonesia 12440 021 - 75818495 021 - 75906233 MUSE 101 fX lifestyle X'nter f3 floor, Senayan Jakarta</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  What if I really want to buy online from resellers?</h5>
            </div>
            <div class="panel-body">
              <div>You can visit them at: ONLINE STORE Hijup www.hijup.com Dalila Hijab http://www.facebook.com/DalilaHijabsCommunity Namiya Hijab http://www.facebook.com/profile.php?id=100002981311869 House of Azzahra http://www.houseofazzahra.com Twitter @azzahra_dt Justiana Shop http://www.facebook.com/justianashop Twitter @justianashop Mumu Griya Muslim http://www.mumugriyamuslim.com Fan Page : mumu griya muslim FB: www.facebook.com/mumu.olshop Twitter: @mumuonlineshop SMS: 081578875323 BBM Pin: 23C1127F</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  I haven't got my order, it has been late for couple days. Where is my order?</h5>
            </div>
            <div class="panel-body">
              <div>Kindly email us to cs@kamiidea.com, so we can check it with the shipping company. Note that if your order is sent during public holiday, there may be some delays.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  I have received my package. Unfortunately, there is some defect in the product. What should I do?</h5>
            </div>
            <div class="panel-body">
              <div>We apologize for our mistake, and please kindly email us to cs@kamiidea.com, and we will give you instructions to return it to us. All shipping fees will be paid by us (both returns and sending it back).</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  The garment I received does not fit me well (It is too big or it is too small). What should I do?</h5>
            </div>
            <div class="panel-body">
              <div>Don't worry, you can exchange it to some other items. If currently there are no items that you wish to buy, you will receive a 3-month store credit with the amount you have purchased. Note that the shipping fees will not be paid by us.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  Can I exchange or return sale item(s)?</h5>
            </div>
            <div class="panel-body">
              <div>No you can't, sale items are non-changable and non-refundable. All sale items are final.</div>
            </div>
            <div>
              <h5><span class="glyphicon glyphicon-info-sign"></span>  What if I really want to see the product directly?</h5>
            </div>
            <div class="panel-body">
              <div>Our collections (selected items available) are available in our resellers below. JAKARTA Heejaab Co. Boutique ITC Kuningan Lantai 2 jembatan 2 No.8 Twitter @HeejaabCo 087884776397 Hijab Store Cibubur Jl, Alternatif Cibubur Cileungsi 22AB (Samping Puri Sriwedari/RS Meilea) 021- 84300328 Hijabstore Cilandak D'Brasco FO Jl TB Simatupang (2 gd sebelum citos) +6221 7581 7435 House of Ria Miranda Bintaro Jl. Taman Bintaro Barat Blok F1 No. 7 Bintaro Jaya Sektor 1 Jakarta 12330 +6221 7350505 Moshaict Jalan Raden Saleh No. 55 Cikini Jakarta Pusat +6221 3106321 Rumah Kerudung Namira Bintaro Pasar Modern Bintaro blok KB-07 Sektor 9 Tangerang Rumah Kerudung Namira Cibubur Fresh Market Kota Wisata FMK 521, Cibubur Toko Alwani ITC BSD lantai UG blok A3/no 1 Jalan Pahlawan Seribu (BSD City - Serpong) Tangerang Selatan, Banten 15321 BEKASI HijabStore Bekasi Bekasi Square Lt ground floor no 207-209 Jl. Ahmad Yani, Pekayon Jaya Bekasi Selatan BOGOR Hijabstore Bogor JL Bangbarung no 32B, Bantarjati Bogor YOGYAKARTA Butik Sasmaya Jl. Raya Tajem 3, Maguwoharjo (Ringroad Utara-Timur) http://www.ButikSasmaya.com Twitter @SASMAYABOUTIQUE SEMARANG Sanasya Collection Plaza Simpang 5 lantai 2 Semarang Dian's Gallery Jalan Gemah Kencana III No. 36 Pedurungan, Semarang 085641116776 CILACAP Jl. Raya Gandrungmangu No. 84 hijabfun@gmail.com Twitter @ZulfaHijabfun Cilacap MALANG Studio Prima Jaya Jalan Raya Kebonagung Nomor 19 Malang 65161 SURABAYA Butik Shira JMP 2 Lantai 1 Blok B7 - B10 Surabaya +6231 3521108 MEDAN House of Ria Miranda Medan Jl K.H. Wahid Hasyim No. 54 Medan Baru – Medan 081977588267 PADANG House of Riamiranda Padang Jl.Dr Sutomo No.9 Simpang Haru +62751 25527 TANJUNGPINANG House of Fahira Perumahan Mahkota Alam Raya Jasmine 2/No.15 Batu. 9 Tanjungpinang KEPRI CP: Rieska Faniza +628127854846 JAMBI DC Boutique Jl. Jendral Sudirman No.3 Bungo Plaza Hotel Muara Bungo Kabupaten Bungo Jambi - 37211 Ibu Desmiati 085215660000 BALIKPAPAN Butik Berlian Ruby Jl. M.T. Haryono kompleks Wika blok D3 No.2 Taman Sari Bukit Mutiara, ring road Balikpapan - Kalimantan Timur +62542 8879625 PONTIANAK Jalan Sulawesi Gg. Haji Sarah no 25 B (Belakang) Pontianak 78121 Opening Soon! SINGAPORE http://www.facebook.com/MODEclothier</div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<style>
  
element.style {
}
#accordion h5 {
    text-align: left;
    color: #000;
    background: transparent;
    border: none;
    border-bottom: 1px solid #8b807a;
    outline: none;
    margin: 0;
}
.col-lg-10, #accordion .ui-state-default {
  border:none;
  background: transparent;
}
.col-lg-10, #accordion .ui-state-default:focus {
    outline: none!important;
}

 .ui-widget-content {
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
 
 .col-lg-10, #accordion .ui-icon{
  background-image: none;
 }
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-info-sign:before {
    content: "\e086";
} 
  
</style>