<style>
  #shopify-section-video .grid__item {padding-left: 30px;}
  .grid-uniform {margin-left: -20px;}
  .thumbnail img, .thumbnail h5 {max-width: 100%;margin: 0 auto;}
  .thumbnail.text-center p {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px 0;
    padding: 0 15px;
  }
  .works_popup {
    display: block;
  }
  .modal {max-width: 800px;padding: 0;}
  .modal iframe {border: none;}
  @media (max-width: 768px){
    .thumbnail h5 {height: 100%!important;}
    .thumbnail {margin-bottom: 15px!important;}
    .modal {max-width: 100%;width: 100%;}
  }
  @media (max-width: 480px){
    .works_popup, .works_popup img {width: 100%; max-width: 100%; display: block;}
  }
</style>
<!-- /templates/page.liquid -->
<div class="grid-uniform">
  <div class="grid__item">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="grid-uniform">
      
      {% section 'video' %}

    </div>

  </div>
</div>
<script>
  $('a[href="#video1"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video2"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video3"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video4"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video5"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video6"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video7"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video8"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video9"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video10"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video11"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video12"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video13"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video14"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
  $('a[href="#video15"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      fadeDuration: 250
    });
  });
</script>