<!-- /templates/page.liquid -->
<style>
  @media (max-width: 480px){
    .rte table {display: block;overflow-x: auto;}
  }
</style>
<div class="grid">
  <div class="grid__item">
    <h1 style="display: none;">{{ page.title }}</h1>
    <div class="grid">
      <div class="grid__item">
        <div class="rte rte--nomargin rte--indented-images">
          <img src="https://cdn.shopify.com/s/files/1/0002/2308/4599/files/how-to-order-kami-1920.png?1485" alt="How to Order"/>
        </div>
      </div>
    </div>

  </div>
</div>
